body {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 92vh;
  margin: 2% auto;
  max-width: 1600px;
}
h1 {
  font-size: 4rem;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 24%;
}
header nav a {
  color: aqua;
  text-decoration: none;
  border: 2px solid yellow;
  border-radius: 1rem;
  padding: 1%;
}
header nav a:hover {
  color: yellow;
}
