body {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 92vh;
  margin: 2% auto;
  max-width: 1600px;
  place-items: center;
  .truCenter();
  flex-direction: column;
}
