h1 {
  font-size: 4rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 12%;
}

header nav a {
  color: aqua;
  width: 20%;
  text-decoration: none;
  border: 2px solid yellow;
  border-radius: 1rem;
  padding:  2%;
    &:hover {
      color: yellow;
    }
}
